<!DOCTYPE html>
<html>
  <head>
    <title>YOLO Park Test</title>
  </head>
  <body>
    <h1>YOLO Park Test</h1>

    <form action="/detect" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" />
      <input type="submit" value="Upload Image" />
    </form>

    {% if error %}
    <p style="color: red">Error: {{ error }}</p>

    {% endif %} {% if text_output %}
    <!-- <h2>Uploaded Image:</h2> -->
    <!-- <img src="{{ image_path }}" alt="Uploaded Image" style="max-width: 500px" /> -->
    <!-- 
    <h2>Detected Objects:</h2>
    <ul>
      {% for obj in detected_objects %}
      <li>(Probablity: {{ obj.probablity }})</li>
      {% endfor %}
    </ul> -->
    <h2>Vehicle type:</h2>
    <p>{{classification_output}}</p>
    <h2>Extracted Text:</h2>
    <p>{{text_output}}</p>
    <!-- <ul>
      {% for text in text_output %}
      <li>{{ text }}</li>
      {% endfor %}
    </ul> -->
    {% endif %}
  </body>
</html>
